body {
  background-color:#e7dddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


/* New css form validation. Very nice! */

@keyframes fadeOut {
  0% {
    color: inherit;
  }
  10% {
    color: #4caf50;
  }
  100% {
    color: inherit;
  }
}

input:user-valid {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOutInvalid {
  0% {
    color: inherit;
  }
  10% {
    color: #f44336;
  }
  100% {
    color: inherit;
  }
}

input:user-invalid {
  animation: fadeOutInvalid 2s forwards;
}

.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
body.dark-mode {
  background-color: #121212;
  color: #f0e7e7;
}

nav {
  font-family: "Times New Roman", Times, serif;
  flex: auto;
}

.header-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#footer {
  position: fixed;
  left: 5px;
  bottom: 15px;
  height: 5px;
  width: 100%;
}


.center-container {
  text-align: center;
}


#flash-message {
  translate: 0 0;
  transition: translate 0.7s ease-out;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  padding: 15px;
  z-index: 1000;
  text-align: center;
  background-color: #4caf50;
  color: rgb(243, 238, 238);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* When the flash message is being hidden */
#flash-message.hidden {
  translate: 0 -100%;
  transition: translate 0.7s ease-out;
}
