body {
  background-color:#e7dddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family:ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol
}


/* New css form validation. Very nice! */
input:user-valid {
  color: green;
}

input:user-invalid {
  color:red
}

/* Modal refused darkmode. Forcing it down mid*/
.dark-mode .modal-content {
  background-color: #2c2c2e;
  color: #f5f5f5;
}


body.dark-mode {
  background-color: #232222;
  color: #f0e7e7;
}

.avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

#footer {
  position: fixed;
  left: 5px;
  bottom: 15px;
  height: 5px;
  width: 100%;
}

#bottomButtonsLogin button {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;

}

#bottomNav button,
#bottomNav form {
  margin-right: 5px;
  margin-bottom: 5px;
}
#bottomNav {
  display: inline-flex;
  justify-content: left;
  position: fixed;
  bottom: 0;
}

#bottomNav .btn {
  max-width: 100%;
  max-height: 40px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}

/* Ensure form buttons match */
form #bottomNav .btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
}


#flash-message {
  translate: 0 0;
  transition: translate 0.7s ease-out;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 90%;
  padding: 15px;
  z-index: 1000;
  text-align: center;
  background-color: #4caf50;
  color: rgb(243, 238, 238);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* When the flash message is being hidden */
#flash-message.hidden {
  translate: 0 -100%;
  transition: translate 0.7s ease-out;
}
